*,
*::before,
*::after {
  box-sizing: border-box;
}

/*Layout*/
body {
  margin: 0;
  min-height: 100vh;
  background-image: url(/imgs/pink-g484d8ed12_1920.jpg);
}

#search {

  justify-content: space-between;
}

 .container {
  flex-wrap: wrap;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
} 

.buttons {
  justify-content: flex-end;
}

/* .image {
  max-width: 350px;
  margin: 0 auto;
  opacity: 0.8;
} */



.custom-shadow {
  box-shadow: -14px -12px 5px 0px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: -14px -12px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: -14px -12px 5px 0px rgba(0, 0, 0, 0.3);


}

/* Estilos para las tarjetas */
.card {
  max-width: calc(25% - 20px); /* 25% del ancho del contenedor y restando el espacio entre las tarjetas */
  margin: 10px; /* Espacio entre las tarjetas */
  box-sizing: border-box; /* Evita que el margen agregue ancho adicional */
}

/* Contenedor de las tarjetas */
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}




